//BREAKPOINTS
// 576px, 768px, 992px, 1200px, 1440px, 1444px
$breakpoints-up: (
  'small': '36em',
	'medium': '48em',
	'large': '62em',
	'xlarge': '75em',
	'xxlarge': '90em',
	'xxxlarge': '90.25em'
);

// 575px, 767px, 991px, 1199px, 1439px, 1443px
$breakpoints-down: (
	'small': '35.9375em',
	'medium': '47.9375em',
	'large': '61.9375em',
	'xlarge': '74.9375em',
	'xxlarge': '89.9375em',
	'xxxlarge': '90.1875em',
);

$spacer: 1rem;

$spacer: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

$theme-fonts: (
	300: 'Light',
	600: 'SemiBold',
	800: 'ExtraBold'
);


$white: hsl(0, 0%, 100%); //White (Dark Mode Text & Light Mode Elements)
$alabaster: hsl(0, 0%, 98%); //Very Light Gray (Light Mode Background)
$gray: hsl(0, 0%, 52%); //Dark Gray (Light Mode Input)
$blue: hsl(209, 23%, 22%); //Dark Blue (Dark Mode Elements)
$ebonyClay: hsl(207, 26%, 17%); //Very Dark Blue (Dark Mode Background)
$dark: hsl(200, 15%, 8%); //Very Dark Blue (Light Mode Text)

$theme-colors: (
	light: (
		'white': $white,
		'alabaster': $alabaster,
		'gray': $gray
	),
	dark: (
		'blue': $blue,
		'ebonyClay': $ebonyClay,
		'dark': $dark
	)
);

//BASE
$font-family-base: Nunito Sans;
$font-size-base: 1rem;
$font-weight-base: var(--font-Light);
$body-bg: var(--light-alabaster);

//PATH
$img-path: '../img';
$fonts-path: '../fonts';

