@use '../abstratcs/' as *;

.container{
  padding-left: rem(20);
  padding-right: rem(20);
  width: 100%;
  max-width: rem(1280);
  margin-left: auto;
  margin-right: auto;
  @include breakpoint('xxlarge'){
    padding: 0;
  }  
}