@use '../abstratcs/' as *;

@each $key, $value in $theme-fonts {
  @font-face {
    font-family: $font-family-base;
    src: 
      local('Nunito Sans #{$value}'), local('Nurito-Sans-#{$value}'),
      url('#{$fonts-path}/nunitoSans/NunitoSans-#{$value}.ttf') format('truetype');
    font-style: normal;
    font-weight: #{$key};
    text-rendering: optimizeLegibility;
    font-display: swap;
  }
}
